
<div class="card col s3 pokemon center z-depth-4">
  <h4 class="left">#{{id}}</h4>
  <img width="150px" height="150px" src="{{sprite}}" />
  <h5 class="center">{{capitalize name}}</h5>
  <div>
    {{! // if pokemon has 2 types }}
    {{#if type_two}}
      <p class="center pkn-type {{type_one}}"></p>
      <p class="center pkn-type {{type_two}}"></p>
    {{else}}
      <p class="center pkn-type {{type_one}}"></p>
      {{!-- Temp fix for spacing --}}
      <p class="pkn-type-empty empty"></p>

    {{/if}}
  </div>
</div>