<style>
  section {
    background-image: url(assets/battle-background.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    min-height: 100vh;
  }
    .pokemon-card {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    border-bottom: 5px rgb(139, 19, 19) solid;///
  }

  .other-card {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
  }
    .evil-card {
    background-color: rgba(253, 7, 7, 0.39);
    border-radius: 10px;
  }
      .dark-card {
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
  }
</style>

<section class="row">
    <div class="col s12">
        <br>
        <br>
        <div class="col s2 offset-s1 other-card center z-depth-5">
            <div class="">
                <h3 class="card-title ">My Party</h3>
            </div>
                {{#each pokemons}}
                {{#with this.trainer_pokemon}}
                {{#with this.is_in_party}}
        <div class="pokemon-card">
            <img id="my-party" src="{{../../sprite}}">
        </div>
        {{/with}}
        {{/with}}
        {{/each}}
        <br>
        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <div class="col s3 offset-s1 other-card center z-depth-5">
            <h4>Your Pokemon</h4>
            <img id="your-pokemon" class="pokemon-card" width="150" height="150" src="assets/placeholder.png">
            <div class="dark-card">
                <p class="white-text">Pokemon Name</p>
                <p class="white-text">Type 1 Type 2</p>
            </div>
        </div>

        <div class="col s1">
            <br>
            <br>
            <h1 class="other-card red-text z-depth-5">VS</h1>
        </div>
        {{#if random_wild_pokemon}}
        <div class="col s3 evil-card center z-depth-5 wild-pokemon" data-id="{{random_wild_pokemon.id}}">
            <h4>Wild Pokemon</h4>
            <img class="pokemon-card" width="150" height="150" src="{{random_wild_pokemon.sprite}}">
            <div class="dark-card">
                <h3 class="white-text">{{capitalize random_wild_pokemon.name}}</h3>
                {{#if random_wild_pokemon.type_two}}
                <p class="center pkn-type {{random_wild_pokemon.type_one}}"></p>
                <p class="center pkn-type {{random_wild_pokemon.type_two}}"></p>
                {{else}}
                <p class="center pkn-type {{random_wild_pokemon.type_one}}"></p>
                {{/if}}
            </div>
        </div>
        <div class="col s9 center">
            <br>
            <button class="btn red white-text z-depth-5">Battle!</button>
        </div>
        {{else}}
            <h4>You have caught them all!</h4>
            <button class="btn black"><a class="white-text" href="/dashboard">Return to Dashboard</a></button>

        {{/if}}


    </div>
</section>

<script src="/js/battle.js"></script>
