<style>
  section {
    background-image: url(assets/battle-background1.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    min-height: 120vh;
}

.row .col.s3 {
    width: 30%;
    margin-left: 8px;
    left: auto;
    right: auto;
}

</style>

{{!-- Battle section handlebars --}}
<section class="row">
    <div class="col s12">
        <div class="col s3 other-card-party center z-depth-5">
            <div class="">
                <div class="col s12 center">
                    <button id="battle" class="btn-large white-text z-depth-5 waves-effect waves-light custom-button-battle"><i class="material-icons right">videogame_asset</i>FIGHT!</button>
                </div>
                <h3 class="card-title text-battle">My Party</h3>
                <h5 class="text-battle">Pick a Pokemon to Battle with</h5>
                <h5 class="text-battle">Then FIGHT!</h5>
            </div>
                {{#each pokemons}}
                {{#with this.trainer_pokemon}}
                {{#with this.is_in_party}}
                {{!-- BE CAREFUL WITH THE CSS --}}
                {{!-- Battle.js relies on the ordering of the 'my-pokemon' and the 'battle-pokemon' classes --}}
        <div class="battle-pokemon-card col m6 s12  my-pokemon-div">
            <img class="my-pokemon " src="{{../../sprite}}" name="{{../../id}}">
            <h6 class="party-name pkn-type-black my-pokemon">{{capitalize ../../name}}</h6>
            {{#if ../../type_two}}  
                <p class="col l6 m12 s12 center pkn-type {{../../type_one}}-battle my-pokemon">{{capitalize ../../type_one}}</p>
                <p class="col l6 m12 s12 center pkn-type {{../../type_two}}-battle my-pokemon">{{capitalize ../../type_two}}</p>
            {{else}}
                <p class="center pkn-type {{../../type_one}}-battle my-pokemon">{{capitalize ../../type_one}}</p>
            {{/if}}
        </div>
        {{/with}}
        {{/with}}
        {{/each}}
        <div class="center col s12">
            <a class="waves-effect waves-light btn return-btn" href="/dashboard"><i class="material-icons left">arrow_back</i>Back to Dashboard</a>
        </div>
        </div>
            {{!-- Your battling Pokemon --}}
        <div id="battle-pokemon-div" class="col s3 battle-other-card center z-depth-5">
            <h4>Battle Pokemon</h4>
            <img id="battle-pokemon-img" class="battle-pokemon-card battle-pokemon" width="150" height="150" src="assets/placeholder.png">
            <div class="battle-dark-card">
                <h3 id="battle-pokemon-name" class="white-text battle-pokemon "></h3>
                <p id="battle-pokemon-type-one" class="center battle-pokemon pkn-type-empty empty"></p>
                <p id="battle-pokemon-type-two" class="center battle-pokemon pkn-type-empty empty"></p>
            </div>
        </div>

        {{!-- Wild Pokemon data --}}
        {{#if random_wild_pokemon}}
        <div id="wild-pokemon" class="col s3 battle-wild-card center z-depth-5 wild-pokemon" data-id="{{random_wild_pokemon.id}}">
            <h4>Wild Pokemon</h4>
            <img class="battle-pokemon-card" width="150" height="150" src="{{random_wild_pokemon.sprite}}">
            <div class="battle-dark-card">
                <h3 class="white-text">{{capitalize random_wild_pokemon.name}}</h3>
                {{#if random_wild_pokemon.type_two}}
                <p class="center pkn-type {{random_wild_pokemon.type_one}}"></p>
                <p class="center pkn-type {{random_wild_pokemon.type_two}}"></p>
                {{else}}
                <p class="center pkn-type {{random_wild_pokemon.type_one}}"></p>
                {{/if}}
            </div>
        </div>
    </div>
    {{!-- Battle Button --}}

    {{else}}
    {{!-- If they have no pokemon left to fight --}}
    <div>
        <h4>You have caught them all!</h4>
        <button class="btn-large black"><a class="white-text" href="/dashboard">Return to Dashboard</a></button>
    </div>
    {{/if}}
</section>

<script src="/js/battle.js"></script>
