<style>

  main {
    background-image: url(assets/pokeball_background.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    min-height: 100vh;
  }

  
  .card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border-bottom: 3px rgb(139, 19, 19) solid;
  }

  .card .card-image img {
    height: auto;
    width: 100%;
    position: relative;
    top: 10px;
  }

.edit-a {
    font-size: 25px;
    color: #8b1313;
    
}

.hr {
  width: 100px;
  height: 5px;
  background-color: #8b1313;

}
  .card-title {
    color: #8b1313;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
  }

  .card-title a {
    font-size: 50px;
    font-weight: bold;
  }

  

.card .card-title {
    font-size: 35px;
    font-weight: 600;
}

  .card-content {
    padding: 20px;
  }

 
  button.btn.red {
    background-color: #8b1313;
  }
  button.btn.red:hover {
    background-color: #a61717;
  }
  p {
    font-size: 15px;
    color: #8b1313;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: ;
  }
  a {
    color: #fafafa;
    font-weight: bold;
    text-decoration: none;
  }

  
  a:hover {
    text-decoration: underline;
  }

  .img-pokemon {
    color: white;
    border: 2px solid #000;
	border-radius: 20px;
	padding: 4px 16px;
  }

  

</style>

<section>
   
    <br>
    <br>
    <br>
   
    <div class="container row">
      {{!-- FIXME: I want to center the entire card in the middle of the left side of the screen --}}
          {{! User Pokedex info on the left }}
        {{#if pokemons.length}}
    {{!-- <div class="col s12 m6 l6 xl6"> --}}
      <div class="card rounded">
        <h3 class="card-title">{{username}}'s Party</h3>
        <hr class="hr">
        <div class="card-content">
          <p><a class= "edit-a" href="/trainersPokedex">View my Pokedex/Edit my Party</a></p>
          <div class="row col s12">
            {{#each pokemons}}
            {{#with this.trainer_pokemon}}
            {{#with this.is_in_party}}
            <div class="col s4">
              <div class="card">
                <div class="card-image">
                  <img src="{{../../sprite}}">
                </div>
              </div>
            </div>
            {{/with}}
            {{/with}}
            {{/each}}
          </div>
          <p>Your highest score is: {{total_score}} points</p>
        </div>
        {{else}}
        <div class="card-content">
          <div class="row col s12">
            <h2 class="center title">{{username}}. <br>Select your starter to begin your adventure</h2>
            <div>
              <div class="card col s3 offset-s1">
                <div class="card-image">
                  <img class="img-pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
                </div>
                <div>
                  <p>Bulbasaur</p>
                  <p class="pkn-type grass"></p>
                  <p class="pkn-type poison"></p>
                </div>
                <div class="center">
              <button class="waves-effect waves-light btn-small green starter-pokemon" data-id="{{id}}" data-pokemon-id="1">Pick this pokemon?</button>
                </div>
                <br>
            </div>
            <div class="card col s3 offset-s1 ">
                <div class="card-image">
                  <img class="img-pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png">
                </div>
                <div>
                  <p>Charmander</p>
                  <p class="pkn-type fire"></p>
                  <p class="pkn-type-empty empty"></p>
                </div>
                <div class="center">
              <button class="waves-effect waves-light btn-small orange starter-pokemon"data-id="{{id}}" data-pokemon-id="4">Pick this pokemon?</button>
                </div>
                <br>
            </div>
            <div class="card col s3 offset-s1" >
                <div class="card-image">
                  <img class="img-pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png">
                </div>
                <div>
                  <p>Squirtle</p>
                  <p class="pkn-type water"></p>
                  <p class="pkn-type-empty empty"></p>
                </div>
                <div class="center">
              <button class="waves-effect waves-light btn-small blue starter-pokemon" data-id="{{id}}" data-pokemon-id="7">Pick this pokemon?</button>
                </div>
              <br>

            </div>
            </div>
          </div>
        </div>
        {{/if}}
      
      </div>
<br>



{{! Buttons and Highscore for current party }}
{{!-- FIXME: I want to center the button in the middle of the right side of the screen --}}
<div class= "row">
{{#if pokemons.length}}
      
        <div class="col s12 valign-wrapper">
          <div class="card rounded w-50">
            <div class="card-content">
              <button class="waves-effect waves-light btn-large red"><i class="material-icons right">gamepad</i><a href="/battle">Battle a wild Pokemon</a></button>
            </div>
          </div>
        </div>
     
{{/if}}
    </div>
  </div>
  </section>


<script src="/js/dashboard.js"></script>

