<style>
  main {
    background-image: url(assets/trainer-pokedex-bg.jpg);
    width: 100%;
    min-height: 100vh;
  }
  html, body {
  height: 100%;
}

</style>

{{!-- Center of Page --}}
<section class="background">
    <section class="container row col s6 pokedex-container">
        <section class="col s3">
            <h3>Your Party</h3> 
            <div class="row" id="party-box">
                {{!-- Shows the path to get the is_in_party value don't remove yet useful with testing--}}
                {{!-- {{log pokemons.[5].trainer_pokemon.is_in_party }} --}}
                {{!-- {{log pokemons.[0]}} --}}
                {{#each pokemons}}
                {{#with this.trainer_pokemon}}
                {{#with this.is_in_party}}
                <div class="col s5 z-depth-3 party-pokemon-card">
                    {{!-- <button class="remove-pokemon" data-id="{{../trainer_id}}" data-pokemon-id="{{../../id}}">Remove</button> --}}
                    <button class="waves-effect waves-light btn-small remove-pokemon" data-id="{{../trainer_id}}" data-pokemon-id="{{../../id}}">-</button>
                    <div class="pokemon-details">
                        <img class="party-img" src="{{../../sprite}}">
                        <p class="party-name">{{capitalize ../../name}}</p>
                    </div>
                </div>
                {{/with}}
                {{/with}}
                {{/each}}
            </div>
            {{!-- Save button not needed as it updates everytime it is clicked --}}
            {{!-- <button class="row btn" id="save-party">Save Party</button> --}}
        </section>

        <div class="col s9" id="pokedex">
            {{!-- Search Bar --}}
            <div class="card">
                <label for="pokedex-search">Search:</label>
                <input type="text" id="pokedex-search"/>
            </div>
            <div id="trainer-pokedex">
                {{#each pokedex as |pokemon|}}

                {{!-- An Individual Pokemons Pokedex Info--}}
                {{> trainer-pokedex-entry}}
                {{/each}}
            </div>
            
        </div>
    </section>
</section>

<script src="/js/party.js"></script>